accelerate==0.31.0
# deepspeed==0.14.4
deprecated==1.2.14
fastai==2.7.14
fastcore==1.5.29
fedot==0.7.3.1
# golem==1.01
# horovod==0.28.1
huggingface_hub==0.23.4
# hyperopt==0.2.7
# intel_extension_for_pytorch==2.3.0
# intel_extension_for_tensorflow==2.15.0.0
joblib==1.4.2
matplotlib==3.8.2
mpi4py==3.1.6
neural_insights==2.6
numpy==1.24.4
onnxruntime==1.18.0
onnxruntime_extensions==0.11.0
packaging==24.1
pandas==1.5.3
Pillow==10.3.0
prettytable==3.10.0
protobuf==5.27.1
psutil==6.0.0
pycocotools==2.0.8
pydantic==2.7.4
pytest==8.0.0
PyYAML==6.0.1
schema==0.7.7
schema_check==0.1.0
scikit_learn==1.2.2
scipy==1.13.1
setuptools==65.5.0
six==1.16.0
tf_slim==1.1.0
timm==1.0.7
torch_pruning==1.4.0
torch==2.2.0 # torch-2.3.1+cu118
torchinfo==1.8.0
torchmetrics==1.4.0.post0
torchvision==0.17.0 # 0.18.1+cu118
tqdm==4.65.0
transformers==4.41.2
typing_extensions==4.12.2
xgboost==2.1.0
